# Зависимости Node.js
node_modules/

# Папка сборки Webpack
dist/

# Логи и временные файлы
*.log
*.tmp

# Файлы операционной системы
.DS_Store
Thumbs.db

# Настройки IDE (если не хотите делиться ими)
.vscode/
.idea/

# Файлы окружения
.env
.env.local