// Цветовая схема
$bg-body: #ff0000;         // тёмно-серый фон страницы
$bg-canvas: #111;        // почти чёрный фон canvas
$border-canvas: #fff;    // белая рамка canvas

// Размеры
$canvas-border-width: 2px;   // толщина рамки canvas